html, body {
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;

    background: #5f5f5f;
    height:100%;
    width:100%;
}

#basket {
    display: block;
    position: absolute;
    top: 55px;
    left: 800px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#allWrapper {

    height: 100%;
    min-width: 100%;
    z-index: -5;
}
