html, body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background: #727272;
    position: absolute;
    height:100%;
    width:100%;
}

#hoop {
    width: 100px;
    height: 9px;
    background: #6cff7c;
    position: absolute;
    left: 660px;
    top: 99px;
}

#arrow {
    visibility: hidden;
    width: 5px;
    color: #ff0007;
    position: absolute;
    left: 660px;
    top: 99px;
}

div {
    width: 200px;
    height: 175px;
    background: white;
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 500%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    color: navy;
}

h1 {
    width: 185px;
    height: 50px;
    position: absolute;
    left: 59px;
    top: 145px;
    color: red;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-family: "Times New Roman", Times, serif;

}

#basket {
    display: block;
    position: absolute;
    top: 55px;
    left: 800px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#allWrapper {

    height: 100%;
    min-width: 100%;
    z-index: -5;
}
